.nav{
    justify-content: center;
    padding-top: 1em;
}
.header{
   padding-top: 1em; 
   font-size: 3em;
   color:rgb(57, 94, 95)
}
a{
    font-size: 1.5em ;
}
.fa{
    color:black
}